[submodule "plantgl"]
	path = plantgl
	url = https://github.com/Ethan13310/plantgl
[submodule "libqglviewer"]
	path = libqglviewer
	url = https://github.com/Ethan13310/libqglviewer-recipe
[submodule "pyqglviewer"]
	path = pyqglviewer
	url = https://github.com/Ethan13310/PyQGLViewer
[submodule "openalea.deploy"]
	path = openalea.deploy
	url = https://github.com/Ethan13310/deploy
[submodule "plantscan3d"]
	path = plantscan3d
	url = https://github.com/Ethan13310/plantscan3d
[submodule "mtg"]
	path = mtg
	url = https://github.com/Ethan13310/mtg
