[submodule "libqglviewer"]
	path = libqglviewer
	url = https://github.com/Ethan13310/libqglviewer-recipe
[submodule "openalea.deploy"]
	path = openalea.deploy
	url = https://github.com/Ethan13310/deploy
[submodule "lpy"]
	path = lpy
	url = https://github.com/fredboudon/lpy.git
[submodule "mtg"]
	path = mtg
	url = https://github.com/fredboudon/mtg.git
[submodule "deploy"]
	path = deploy
	url = https://github.com/fredboudon/deploy.git
[submodule "plantgl"]
	path = plantgl
	url = https://github.com/fredboudon/plantgl.git
[submodule "plantscan3d"]
	path = plantscan3d
	url = https://github.com/fredboudon/plantscan3d.git
[submodule "libqglviewer-recipe"]
	path = libqglviewer-recipe
	url = https://github.com/fredboudon/libqglviewer-recipe.git
