[submodule "libqglviewer"]
	path = libqglviewer
	url = https://github.com/Ethan13310/libqglviewer-recipe
[submodule "pyqglviewer"]
	path = pyqglviewer
	url = https://github.com/Ethan13310/PyQGLViewer
[submodule "openalea.deploy"]
	path = openalea.deploy
	url = https://github.com/Ethan13310/deploy
[submodule "plantscan3d"]
	path = plantscan3d
	url = https://github.com/Ethan13310/plantscan3d
[submodule "lpy"]
	path = lpy
	url = https://github.com/fredboudon/lpy.git
[submodule "mtg"]
	path = mtg
	url = https://github.com/fredboudon/mtg.git
[submodule "deploy"]
	path = deploy
	url = https://github.com/fredboudon/deploy.git
